$header-height: 43px;
$p-value-one: hsla(0, 0%, 91%, .26);
$p-value-two: hsla(0, 0%, 96%, .26);

$link-text: #2b80d5;
$color-info: #a6a6a7;
$color-success: #12c0ae;
$color-alert: #f25f55;
$color-warning: #e8a82c;
$color-disabled: #f5f4f5;
$color-white: #fff;
$color-black: #000;
$color-yellow: #f6c66e;
$color-corn: #fff199;
$color-light-yellow: #ffdb00;
$color-gray: #ccc;
$color-gray2: #999;
$color-dark-gray: #737373;
$color-light-gray: #f6f6f6;
$color-gray-blue: #fbfafc;
$color-dark-blue: #4d8ad6;
$color-medium-blue: #236acb;
$color-medium-green: #7bc2ad;
$color-medium-gray: #e9e7e9;
$color-medium-gray-text: #c1c8c9;
$color-violet-gray: #c9c4cf;
$color-green: #177045;
$color-green-gray: #c9c4cf;
$color-light-green: #e6f5f7;
$color-dark-green: #19604a;
$color-light-blue: #ebf5fd;
$color-blue-gray: #d7e1e7;
$color-light-red: #f00;
$color-metallicsilver: #e1e8eb;
$color-cyan: #89e0d7;
$color-cyan-gray: #9caaac;
$color-blue: #5b81aa;
$color-orange: #f99f38;
$color-orange2: #faa84c;
$color-lime-green: #769b6e;
$color-lime-green2: #91af8b;
$color-blue-dark: #326195;
$color-blue-dark2: #22609f;
$color-blue-dark3: #46709f;
$color-blue-dark4: #163e65;
$color-blue-dark5: #12455c;
$color-red: #e11f26;
$color-red2: #e4353b;
$color-black-light: #191919;
$color-black-light2: #303030;
$color-black-medium: #231f20;
$color-gray-black: #222;
$color-gray-black2: #444;
$color-yellow2: #ffdf19;
$color-pink-light: #f49eb7;
$color-cyan-blue: #c5d4d6;
$color-gray-light: #d3d3d3;
$color-gray-light2: #d7d7d7;
$color-yellow-light: #f3d691;
$color-light-green2: #bde1d6;
$color-pink: #d81a71;
$color-pink-medium: #e5267e;
$color-emerald-green: #6aba95;
$color-emerald-green2: #58b288;
$color-gray-white: #e6e6e6;
$color-default-gray: #949495;
$color-default-gray2: #878789;
$color-brown: #9e5f15;
$color-brown-light: #cb971b;
$color-brown-medium: #b46c18;
$color-dust-gray: #cdcdcd;
$color-kelly-green: #6aa53b;
$color-seashell: #feedf0;
$color-palevioletred: #f54c68;
$color-ivory: #f6fce5;
$color-lemonchiffon: #fff6e5;
$color-lightsteelblue: #b4c7ce;
$color-lightsteelblue2: #9bbcc7;
$color-dark-gray2: #717171;
$color-light-orange: #f5b54d;
$color-pink-light2: #f8d2e4;
$color-ivory2: #fdf6e6;
$color-cyan-lightgray: #c2d3d4;
$color-secondary-gray: #6e6e6e;
$color-secondary-gray2: #474747;
$color-orange-light: #f3bc52;
$color-orange-dark: #e8a82c;
$color-success-hover: #598930;
$color-yellow-dark: #e9c901;
$color-red-dark: #c11a21;
$color-blue-medium: #4a96f4;
$color-light-blue2: #e9f3fb;
$color-dark-gray3: #646566;
$color-note: $color-blue;
$color-lime-green-hover: #83a57c;
$color-light-orange-brown: #ffca65;
$color-pure-orange: #e59600;
$color-light-green3: #95d0be;
$color-light-green4: #a3b4b5;
$color-light-gray2: #949199;
$color-light-orange2: #fff9ee;
$color-soft-gray: #aaa;
$color-semi-dark-gray: #484848;
$color-semi-light-gray: #8f8f8f;

$stroke-color-orange: #eab758;
$stroke-color-light-gray: #ebe8ef;
$stroke-color-gray: #e0e0e0;
$stroke-color-light-green: #d7ede6;
$stroke-color-medium-green: #88c8b5;
$stroke-color-green: #139e90;
$stroke-color-light-grey: #eaeced;
$stroke-light-blue: #528ed0;

$darkgray-text: #666;
$lightgray-text: #bdbdbd;
$default-text-color: #333;
$error-text: #e11c23;
$success-green: #6ba53a;
$active-status: #2a81d5;
$error-color: #e11d25;
$blue-little-light: #4a93c8;
$gray-little-light: #b6b6b6;
$title-green-color: #6aa896;
$title-green-hover-color: #497d6e;
$green-disabled-color: #bde0d6;
$warning-color: #ffaf26;
$invalid-color: #f25f55;
$little-light-red: #ff2766;
$notification-alert: #e83d6f;
$tint-green: #0fa194;
$primary-title-black: #111011;
$secondary-title-black: #2f2b2f;
$light-grey: #6b7173;
$light-grey-color: #cbcbcb;
$dark-gray-color: #716f74;
$dark-blue-color: #1086d9;
$dark-blue-hover: #4c699e;
$dark-blue-hover2: #47618d;
$dark-blue-border: #3c5173;
$light-blue-color: #29bbf9;
$light-blue-color2: #1daee3;
$medium-blue-color: #3997ba;
$medium-blue-color2: #347b95;
$medium-orange-color: #da573b;
$medium-brown-color: #be5238;
$dark-brown-color: #9b4631;
$no-java-warning-color: #fff69f;

$color-rte-button-active: #d7e9fe;
$color-highlight: #ffe966;

$character-palette-white: #fff;
$character-palette-keybg-blue: #f5f8fb;
$character-palette-keyhover-blue: #4a93c7;
$character-palette-keytxt-blue: #1e4568;
$character-palette-border-color: #ccc;
$character-palette-gray: #9a9a9a;
$character-palette-light-grey: #6b7173;
$character-palette-color-light-gray: #f6f6f6;
$character-palette-color-dark-gray: #737373;
$character-palette-key-border-sky-blue: #d2e4f1;

$logo-gray-color: #292929;
$logo-red-color: #e31e26;

//accessible colors
$color-new-primary-blue: #3975b9;
